body {
    background-color: #e6f2ff;
}

.jumbo-day {
    background: linear-gradient(to bottom, #007bff, #e6f2ff);  
  }

.default-lg-bg {    
    background-color: #343a40;
    background-image:
        linear-gradient(
        to left, 
        #343a40,
        #007bff 
    );
      
}

.day-background {
    background-color: #343a40;
    background-image:
        linear-gradient(
        to left, 
        #343a40,
        #007bff 33%
    );
}

.night-background {
    background-color: #007bff;
    background-image:
        linear-gradient(
        to left, 
        #007bff,
        #343a40 33%
    );
}

.five-day {
    background-color: #343a40;
    background-image:
        linear-gradient(
        to top, 
        #343a40,
        #007bff 33%
    );
}

.five-night {
    background-color: #007bff;
    background-image:
        linear-gradient(
        to top, 
        #007bff,
        #343a40 33%
    );
}

.bordr {
    border-style: dashed;
    border-color: red;
    border-width: 2px;
}

.blue-border {
    border-style: dashed;
    border-color: blue;
    border-width: 2px;
}

.green-border {
    border-style: dashed;
    border-color: green;
    border-width: 2px;
}

.black-border {
    border-style: dashed;
    border-color: black;
    border-width: 2px;
}

.night-temp-row {
    margin-left: 8%;
    margin-right: 8%;
}

#footer {
    display:flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    align-items:center;
    padding-top: 30px;
  } 

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    
}

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .cities-list, .night-temp-row, .current-night {
        display: none;
    }

    .night-temp {
        display: block;
    }    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .five-day-date {
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}